{% extends "layout.html" %}
{% block content %}

<div class="container my-5 rounded job_manage_box d-flex">
    <div class="d-flex flex-column w-100">
        <div class="steps w-100 d-flex mb-5" id="stepImg">
            <img class="col-10 m-auto" src="{{ url_for('static', filename='imgs/step1.png') }}" alt="Step-1">
            <img style="display: none" class="col-10 m-auto" src="{{ url_for('static', filename='imgs/step2.png') }}" alt="Step-2">
            <img style="display: none" class="col-10 m-auto" src="{{ url_for('static', filename='imgs/step3.png') }}" alt="Step-3">
            <img style="display: none" class="col-10 m-auto" src="{{ url_for('static', filename='imgs/step4.png') }}" alt="Step-4">
            <img style="display: none" class="col-10 m-auto" src="{{ url_for('static', filename='imgs/step5.png') }}" alt="Step-5">
            <img style="display: none" class="col-10 m-auto" src="{{ url_for('static', filename='imgs/step6.png') }}" alt="Step-6">
        </div>
        <div class="content-section border rounded" id="topLabels">
            <p class="text text-light bg-secondary rounded-top p-3">Upload Files:</p>
            <p class="text text-light bg-secondary rounded-top p-3" style="display: none">Sample Information:</p>
            <p class="text text-light bg-secondary rounded-top p-3" style="display: none">HRMS Instruments:</p>
            <p class="text text-light bg-secondary rounded-top p-3" style="display: none">Chromatography:</p>
            <p class="text text-light bg-secondary rounded-top p-3" style="display: none">My Columns:</p>
            <p class="text text-light bg-secondary rounded-top p-3" style="display: none">Overview Settings:</p>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group px-5 py-2 d-flex flex-column" id="forms">
                    <div id="form0">
                        <legend class="border-bottom pb-2 mt-3 stepLable" style="display: none">
                            Upload Files
                        </legend>
                        
                        {% if method == 'ImportDeconv' %}
                            <div class="form-group">
                                {{ form.xlsxFile.label() }}
                                {{ form.xlsxFile(class="form-control-file") }}
                                {% if form.xlsxFile.errors %}
                                    {% for error in form.xlsxFile.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.VANFileLow.label() }}
                                {{ form.VANFileLow(class="form-control-file") }}
                                {% if form.VANFileLow.errors %}
                                    {% for error in form.VANFileLow.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.VANFileHigh.label() }}
                                {{ form.VANFileHigh(class="form-control-file") }}
                                {% if form.VANFileHigh.errors %}
                                    {% for error in form.VANFileHigh.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <legend class="border-bottom pb-2 mt-5 stepLable">
                                D_Set Import
                            </legend>

                            <div class="form-group">
                                {{ form.Max_W.label(class="form-control-label") }}
    
                                {% if form.Max_W.errors %}
                                    {{ form.Max_W(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Max_W.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Max_W(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Min_Int.label(class="form-control-label") }}
    
                                {% if form.Min_Int.errors %}
                                    {{ form.Min_Int(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Min_Int.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Min_Int(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Retention_Window.label(class="form-control-label") }}
    
                                {% if form.Retention_Window.errors %}
                                    {{ form.Retention_Window(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Retention_Window.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Retention_Window(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.R_Min.label(class="form-control-label") }}
    
                                {% if form.R_Min.errors %}
                                    {{ form.R_Min(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.R_Min.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.R_Min(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.P_Max.label(class="form-control-label") }}
    
                                {% if form.P_Max.errors %}
                                    {{ form.P_Max(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.P_Max.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.P_Max(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Retention_Time_Tollerance.label(class="form-control-label") }}
    
                                {% if form.Retention_Time_Tollerance.errors %}
                                    {{ form.Retention_Time_Tollerance(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Retention_Time_Tollerance.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Retention_Time_Tollerance(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Ms_P_W.label(class="form-control-label") }}
    
                                {% if form.Ms_P_W.errors %}
                                    {{ form.Ms_P_W(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Ms_P_W.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Ms_P_W(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Mass_Tol.label(class="form-control-label") }}
    
                                {% if form.Mass_Tol.errors %}
                                    {{ form.Mass_Tol(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Mass_Tol.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Mass_Tol(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Mass_Window.label(class="form-control-label") }}
    
                                {% if form.Mass_Window.errors %}
                                    {{ form.Mass_Window(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Mass_Window.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Mass_Window(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Signal_to_Noise.label(class="form-control-label") }}
    
                                {% if form.Signal_to_Noise.errors %}
                                    {{ form.Signal_to_Noise(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Signal_to_Noise.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Signal_to_Noise(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>


                        {% elif method == 'LibrarySearch' %}
                            <div class="form-group">
                                {{ form.txtFile.label() }}
                                {{ form.txtFile(class="form-control-file") }}
                                {% if form.txtFile.errors %}
                                    {% for error in form.txtFile.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        {% else %}
                            <div class="form-group">
                                {{ form.xlsxFile.label() }}
                                {{ form.xlsxFile(class="form-control-file") }}
                                {% if form.xlsxFile.errors %}
                                    {% for error in form.xlsxFile.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.VANFileLow.label() }}
                                {{ form.VANFileLow(class="form-control-file") }}
                                {% if form.VANFileLow.errors %}
                                    {% for error in form.VANFileLow.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.VANFileHigh.label() }}
                                {{ form.VANFileHigh(class="form-control-file") }}
                                {% if form.VANFileHigh.errors %}
                                    {% for error in form.VANFileHigh.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.txtFile.label() }}
                                {{ form.txtFile(class="form-control-file") }}
                                {% if form.txtFile.errors %}
                                    {% for error in form.txtFile.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <legend class="border-bottom pb-2 mt-5 stepLable">
                                D_Set Import
                            </legend>

                            <div class="form-group">
                                {{ form.Max_W.label(class="form-control-label") }}
    
                                {% if form.Max_W.errors %}
                                    {{ form.Max_W(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Max_W.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Max_W(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Min_Int.label(class="form-control-label") }}
    
                                {% if form.Min_Int.errors %}
                                    {{ form.Min_Int(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Min_Int.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Min_Int(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Retention_Window.label(class="form-control-label") }}
    
                                {% if form.Retention_Window.errors %}
                                    {{ form.Retention_Window(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Retention_Window.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Retention_Window(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.R_Min.label(class="form-control-label") }}
    
                                {% if form.R_Min.errors %}
                                    {{ form.R_Min(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.R_Min.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.R_Min(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.P_Max.label(class="form-control-label") }}
    
                                {% if form.P_Max.errors %}
                                    {{ form.P_Max(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.P_Max.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.P_Max(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Retention_Time_Tollerance.label(class="form-control-label") }}
    
                                {% if form.Retention_Time_Tollerance.errors %}
                                    {{ form.Retention_Time_Tollerance(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Retention_Time_Tollerance.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Retention_Time_Tollerance(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Ms_P_W.label(class="form-control-label") }}
    
                                {% if form.Ms_P_W.errors %}
                                    {{ form.Ms_P_W(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Ms_P_W.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Ms_P_W(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Mass_Tol.label(class="form-control-label") }}
    
                                {% if form.Mass_Tol.errors %}
                                    {{ form.Mass_Tol(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Mass_Tol.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Mass_Tol(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Mass_Window.label(class="form-control-label") }}
    
                                {% if form.Mass_Window.errors %}
                                    {{ form.Mass_Window(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Mass_Window.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Mass_Window(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Signal_to_Noise.label(class="form-control-label") }}
    
                                {% if form.Signal_to_Noise.errors %}
                                    {{ form.Signal_to_Noise(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Signal_to_Noise.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.Signal_to_Noise(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>

                    <!--Input of HRMS Instruments-->
                    <div id="form1" style="display: none">
                        <legend class="border-bottom pb-2 mt-5 stepLable" style="display: none">
                            Sample Information
                        </legend>

                        <!--The part of the sample location-->
                         <!--Sample type-->
                         <div class="form-group">
                            {{ form.sample_type.label(class="form-control-label") }}

                            {% if form.sample_type.errors %}
                                {{ form.sample_type(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_type.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_type(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--Sample city-->
                         <div class="form-group">
                            {{ form.sample_city.label(class="form-control-label") }}

                            {% if form.sample_city.errors %}
                                {{ form.sample_city(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_city.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_city(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>


                         <!--Sample country-->
                         <div class="form-group">
                            {{ form.sample_country.label(class="form-control-label") }}

                            {% if form.sample_country.errors %}
                                {{ form.sample_country(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_country.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_country(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--Sample location longitude-->
                        <div class="form-group">
                            {{ form.sample_location_longitude.label(class="form-control-label") }}

                            {% if form.sample_location_longitude.errors %}
                                {{ form.sample_location_longitude(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_location_longitude.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_location_longitude(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                        <!--Sample location altitude-->
                        <div class="form-group">
                            {{ form.sample_location_altitude.label(class="form-control-label") }}

                            {% if form.sample_location_altitude.errors %}
                                {{ form.sample_location_altitude(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_location_altitude.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_location_altitude(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>


                        <!--Sample location latitude-->
                        <div class="form-group">
                            {{ form.sample_location_latitude.label(class="form-control-label") }}

                            {% if form.sample_location_latitude.errors %}
                                {{ form.sample_location_latitude(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_location_latitude.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_location_latitude(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <!--Sample location datum-->
                        <div class="form-group">
                            {{ form.sample_location_datum.label(class="form-control-label") }}

                            {% if form.sample_location_datum.errors %}
                                {{ form.sample_location_datum(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sample_location_datum.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sample_location_datum(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-check">
                            {{ form.sample_private(class="form-check-input") }}
                            {{ form.sample_private.label(class="form-check-label") }}
                        </div>

                    </div>
                    <!--The part of the sample location is over-->

                    <!--Input of HRMS Instruments-->
                    <div id="form2" style="display: none">
                        <legend class="border-bottom pb-2 mt-5 stepLable" style="display: none">
                            HRMS Instruments
                        </legend>

                        <!--System Class-->
                        <div class="form-group">
                            {{ form.hrms_system_class.label(class="form-control-label") }}

                            {% if form.hrms_system_class.errors %}
                                {{ form.hrms_system_class(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_system_class.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_system_class(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--System Model-->
                        <div class="form-group">
                            {{ form.hrms_system_model.label(class="form-control-label") }}

                            {% if form.hrms_system_model.errors %}
                                {{ form.hrms_system_model(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.source.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_system_model(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--System Brand-->
                        <div class="form-group">
                            {{ form.hrms_system_brand.label(class="form-control-label") }}

                            {% if form.hrms_system_brand.errors %}
                                {{ form.hrms_system_brand(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.model.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_system_brand(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--HRMS source-->
                        <div class="form-group">
                            {{ form.hrms_source.label(class="form-control-label") }}

                            {% if form.hrms_source.errors %}
                                {{ form.hrms_source(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_source.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_source(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--HRMS mode-->
                        <div class="form-group">
                            {{ form.hrms_mode.label(class="form-control-label") }}

                            {% if form.hrms_mode.errors %}
                                {{ form.hrms_mode(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_mode.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_mode(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <!--HRMS source gas 1-->
                        <div class="form-group">
                            {{ form.hrms_source_gas1.label(class="form-control-label") }}

                            {% if form.hrms_source_gas1.errors %}
                                {{ form.hrms_source_gas1(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_source_gas1.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_source_gas1(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <!--HRMS source gas 2-->
                        <div class="form-group">
                            {{ form.hrms_source_gas2.label(class="form-control-label") }}

                            {% if form.hrms_source_gas2.errors %}
                                {{ form.hrms_source_gas2(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_source_gas2.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_source_gas2(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--HRMS curtain gas -->
                        <div class="form-group">
                            {{ form.hrms_curtain_gas.label(class="form-control-label") }}

                            {% if form.hrms_curtain_gas.errors %}
                                {{ form.hrms_curtain_gas(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_curtain_gas.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_curtain_gas(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--HRMS ionisation -->
                        <div class="form-group">
                            {{ form.hrms_ionisation.label(class="form-control-label") }}

                            {% if form.hrms_ionisation.errors %}
                                {{ form.hrms_ionisation(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_ionisation.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_ionisation(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--HRMS voltage -->
                        <div class="form-group">
                            {{ form.hrms_voltage.label(class="form-control-label") }}

                            {% if form.hrms_voltage.errors %}
                                {{ form.hrms_voltage(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_voltage.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_voltage(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--HRMS polarity -->
                        <div class="form-group">
                            {{ form.hrms_polarity.label(class="form-control-label") }}

                            {% if form.hrms_polarity.errors %}
                                {{ form.hrms_polarity(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hrms_polarity.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hrms_polarity(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                    </div>
                    <!--Input of HRMS Instruments part is over-->


 <!--Input of Chromatography-->
                    <div id="form3" style="display: none">
                        <legend class="border-bottom pb-2 mt-5 stepLable" style="display: none">
                            Chromatography
                        </legend>

                        <!--Chromatography brand-->
                        <div class="form-group">
                            {{ form.chrom_system_brand.label(class="form-control-label") }}

                            {% if form.chrom_system_brand.errors %}
                                {{ form.chrom_system_brand(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.chrom_system_brand.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.chrom_system_brand(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--Chromatography model-->
                        <div class="form-group">
                            {{ form.chrom_system_model.label(class="form-control-label") }}

                            {% if form.chrom_system_model.errors %}
                                {{ form.chrom_system_model(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.chrom_system_model.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.chrom_system_model(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--Chromatography system-->
                        <div class="form-group">
                            {{ form.chrom_system_class.label(class="form-control-label") }}

                            {% if form.chrom_system_class.errors %}
                                {{ form.chrom_system_class(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.chrom_system_class.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.chrom_system_class(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <!--Chromatography component type-->
                        <div class="form-group">
                            {{ form.chrom_component_type.label(class="form-control-label") }}

                            {% if form.chrom_component_type.errors %}
                                {{ form.chrom_component_type(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.chrom_component_type.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.chrom_component_type(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div id='component'>
                            <!--Chromatography sample injection volume-->
                            <div class="form-group">
                                {{ form.chrom_sample_injection_volume.label(class="form-control-label") }}

                                {% if form.chrom_sample_injection_volume.errors %}
                                    {{ form.chrom_sample_injection_volume(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_sample_injection_volume.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_sample_injection_volume(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography mobile phase a-->
                            <div class="form-group">
                                {{ form.chrom_mobile_phase_a.label(class="form-control-label") }}

                                {% if form.chrom_mobile_phase_a.errors %}
                                    {{ form.chrom_mobile_phase_a(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_mobile_phase_a.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_mobile_phase_a(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography mobile phase b-->
                            <div class="form-group">
                                {{ form.chrom_mobile_phase_b.label(class="form-control-label") }}

                                {% if form.chrom_mobile_phase_b.errors %}
                                    {{ form.chrom_mobile_phase_b(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_mobile_phase_b.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_mobile_phase_b(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography event stage-->
                            <div class="form-group">
                                {{ form.chrom_event_stage.label(class="form-control-label") }}

                                {% if form.chrom_event_stage.errors %}
                                    {{ form.chrom_event_stage(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_event_stage.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_event_stage(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography flow rate-->
                            <div class="form-group">
                                {{ form.chrom_flow_rate.label(class="form-control-label") }}

                                {% if form.chrom_flow_rate.errors %}
                                    {{ form.chrom_flow_rate(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_flow_rate.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_flow_rate(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography gradient a or b-->
                            <div class="form-group">
                                {{ form.chrom_gradient_a_or_b.label(class="form-control-label") }}

                                {% if form.chrom_gradient_a_or_b.errors %}
                                    {{ form.chrom_gradient_a_or_b(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_gradient_a_or_b.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_gradient_a_or_b(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography a or b-->
                            <div class="form-group">
                                {{ form.chrom_a_or_b.label(class="form-control-label") }}

                                {% if form.chrom_a_or_b.errors %}
                                    {{ form.chrom_a_or_b(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_a_or_b.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_a_or_b(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <!--Chromatography oven temperature-->
                            <div class="form-group">
                                {{ form.chrom_oven_temperature.label(class="form-control-label") }}

                                {% if form.chrom_oven_temperature.errors %}
                                    {{ form.chrom_oven_temperature(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.chrom_oven_temperature.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.chrom_oven_temperature(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                   <!--Input of Chromatography part is over-->

                   <!--Input of Column-->
                    <div id="form4" style="display: none">
                        <legend class="border-bottom pb-2 mt-5 stepLable" style="display: none">
                            My Columns
                        </legend>

                        <!--Column phase-->
                        <div class="form-group">
                            {{ form.column_phase.label(class="form-control-label") }}

                            {% if form.column_phase.errors %}
                                {{ form.column_phase(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_phase.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_phase(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--Column particle size-->
                        <div class="form-group">
                            {{ form.column_particle_size.label(class="form-control-label") }}

                            {% if form.column_particle_size.errors %}
                                {{ form.column_particle_size(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_particle_size.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_particle_size(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!--Column length-->
                        <div class="form-group">
                            {{ form.column_length.label(class="form-control-label") }}

                            {% if form.column_length.errors %}
                                {{ form.column_length(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_length.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_length(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <!--Column pore size-->
                        <div class="form-group">
                            {{ form.column_pore_size.label(class="form-control-label") }}

                            {% if form.column_pore_size.errors %}
                                {{ form.column_pore_size(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_pore_size.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_pore_size(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                          <!--Column inner diameter-->
                        <div class="form-group">
                            {{ form.column_inner_diameter.label(class="form-control-label") }}

                            {% if form.column_inner_diameter.errors %}
                                {{ form.column_inner_diameter(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_inner_diameter.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_inner_diameter(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                          <!--Column brand-->
                        <div class="form-group">
                            {{ form.column_brand.label(class="form-control-label") }}

                            {% if form.column_brand.errors %}
                                {{ form.column_brand(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_brand.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_brand(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                         <!--Column model-->
                        <div class="form-group">
                            {{ form.column_model.label(class="form-control-label") }}

                            {% if form.column_model.errors %}
                                {{ form.column_model(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.column_model.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.column_model(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
    
                    </div>
                   <!--Input of Input of Column part is over-->

                    
                    <div id="saveJobBtn" style="display: none">
                        {{ form.submit(class="btn btn-outline-info ml-auto mt-4") }}
                    </div>
                        
                </fieldset>

            </form>
        </div>
        <div class="mt-4 mx-auto">
            <button style="display: none" class="btn btn-primary mr-3" id="prevStep">Prev Step</button>
            <button class="btn btn-primary" id="nextStep">Next Step</button>
        </div>
    </div>        
</div>    

{% endblock content %}