{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <section class="d-flex w-100 mb-5 pb-2 border-bottom">

        <div class="d-flex flex-column mr-auto w-100">
            <legend class="border-bottom pb-2 mt-3 mb-4 stepLable">
                Search Result
            </legend>
            <div>
                {% for sample in samples %}
                    <div class="d-flex mb-4 px-3 py-3 result_container">
                        <a class="text text-primary my-auto" href="{{ url_for('main.searchDetails', id = sample.id) }}">Sample ID: {{ sample.sample_job_number }}</a>
                        <p class="text text-dark ml-auto my-auto">{{ sample.sample_date.strftime('%Y-%m-%d') }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </section>
</div>

{% endblock content %}


