{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <section class="d-flex w-100 mb-5 pb-2 border-bottom">

        <div class="d-flex flex-column mr-auto w-75" id="left">
            <div>
                {% for post in posts %}
                    <div class="d-flex border rounded mt-4 px-3 py-3">
                        <div class="post_left">
                            <img class="rounded-circle article-img w-100 post_icon" src="{{ url_for('static', filename='imgs/' + post.author.user_icon) }}">
                        </div>

                        <div class="post_right">
                            <div class="border-bottom pb-1 mb-3 d-flex">
                                <a class="text text-primary" href=#>{{ post.author.user_firstname }} {{ post.author.user_lastname }}</a>
                                <p class="mb-0 ml-3">{{ post.date }}</p>
                            </div>
                            <a class="text text-primary" href=#><h3>{{ post.title }}</h3></a>
                            <p class="mb-0 post-text">{{ post.contents }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="d-flex flex-column w-25" id="right">
            <div class="border rounded px-3 py-2 w-100">
                <legend class="border-bottom mb-3"><h4 class="text-dark">Actions</h4></legend>
                <button class="btn btn-secondary my-2" id="addNew" href="#">Add New Post</button>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content mt-5">
                <div class="modal-body">
                    <form class="px-2 col-12" id="postForm" method="POST" action="">
                        <legend class="border-bottom mb-2 mt-2 d-flex">
                            <h4 class="text-dark">New Post
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h4>
                        </legend>
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.title.label(class="form-control-label") }}
                                {{ form.title(class="form-control") }}
                            </div>

                            <div class="form-group">
                                {{ form.content.label(class="form-control-label") }}
                                {{ form.content(class="form-control", rows="4") }}
                            </div>
                        </fieldset>

                        <div class="form-label-group d-flex mt-2">
                            {{ form.submit(class="btn btn-primary col-2 ml-auto mb-2 text-light") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


