{% extends "layout.html" %}
{% block content %}

<section id="slideshow">
    <div id="cover" class="carousel slide mb-4" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active h-100">
                <div class="d-flex h-100 mx-auto" id="slide1">

                    <form method="POST" action="" class="m-auto col-sm-10 col-md-8 col-lg-6" >
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group m-auto">
                            <div class="form-group d-flex shadow">
                                {% if form.search.errors %}
                                    {{ form.search(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.search.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.search(class="form-control form-control-lg search_bar") }}
                                {% endif %}
                                
                                {{ form.submit(class="btn btn-primary search_btn") }}
                            </div>
                        </fieldset>
                    </form>    
                </div>
            </div>
        </div>   
    </div>
</section>

<div id="main" class="container">

    <section id="grid">
        <legend class="border-bottom pb-2 mt-3"><h3>Our Services</h3></legend>
        <div class="row">
            <div class="col-sm-11 col-md-4 mr-auto m-sm-auto">
                <div class="card border-0 mb-4">
                    <div class="card-body text-center">
                        <a class="" href="{{ url_for('hams.manageJobs') }}">
                            <img class="img-fluid" src="{{ url_for('static', filename='imgs/upload.png') }}" alt="Link to Upload and Process data">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-11 col-md-4 m-auto">
                <div class="card border-0 mb-4">
                    <div class="card-body text-center">
                        <a class="" href="{{ url_for('forum.viewpost') }}">
                            <img class="img-fluid" src="{{ url_for('static', filename='imgs/forum.png') }}" alt="Link to Forum Page">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-11 col-md-4 ml-auto m-sm-auto">
                <div class="card border-0 mb-4">
                    <div class="card-body text-center">
                        <a class="" href="{{ url_for('users.profile') }}">
                            <img class="img-fluid" src="{{ url_for('static', filename='imgs/papers.png')}}" alt="Link to Acadamic Papers Page">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="grid" class="mt-2 mb-5">
        <legend class="border-bottom pb-2"><h3>CEC Alerts</h3></legend>
        <div class="d-flex flex-column px-3 py-2 border rounded">
            <label class="form-control-label mt-2"><h6>New Algorithm</h6></label>
            <p class="text text-dark mb-3">Great news! A new algorithm for peak picking has been developed which will soon be available for use on CECEWSN. It is hoped that this new algorithm will lead to improved chemical identification with fewer false positives. Over the coming weeks, Dr Saer Samanipour will upload documentation on how this new algorithm works.</p>
            
            <label class="form-control-label"><h6>New Updated</h6></label>
            <p class="text text-dark mb-3">Are you analysing for PFAS but don’t have many analytical standards? CECEWSN has just been updated to include spectra for branched PFAS. </p>
            
            <label class="form-control-label"><h6>Chromatography Techniques</h6></label>
            <p class="text text-dark mb-3">Are your hormones giving you separation issues? In this article we discuss chromatography techniques to improve the separation of both anabolic and endogenous steroids.</p>
            
            <label class="form-control-label"><h6>Conference Announcement</h6></label>
            <p class="text text-dark mb-3">Conference Announcement! The 11th Micropol &amp; Ecohazard Conference will be held from Sunday 20th October to Wednesday 23rd October 2019 in EL Tower, Seoul, Korea. Abstract submission closes on 28 February 2019. See the website for more details: <a class="text-primary" href="http://www.micropol2019.org" target="_blank">http://www.micropol2019.org</a></p>
        </div>
    </section>
</div>

{% endblock content %}


