{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <section class="d-flex w-100 mb-5 pb-2 border-bottom">

        <div class="d-flex flex-column mr-auto w-75" id="left">
            <form method="POST" action="" class="m-auto w-100">
                {{ searchform.hidden_tag() }}
                <fieldset class="form-group m-auto">
                    <div class="form-group d-flex">
                        {{ searchform.select(class="form-control form-control-lg border-fight-0", id="filter") }}
                        {{ searchform.search(class="form-control form-control-lg border-left-0 search_bar rounded-0") }}
                        {{ searchform.submit(class="btn btn-secondary search_btn") }}
                    </div>
                </fieldset>
            </form> 
            <div>
                {% for paper in papers %}
                    <div class="card-body border rounded mb-2">
                        <b><h4 class="">{{ paper.title }}</h4></b>
                        <li>Uploaded Time: {{ paper.date }}</li>
                        <li>Publisher: <a class="text-primary" href=#>{{ paper.author.user_firstname }} {{ paper.author.user_lastname }}</a></li>
                        <li>Author: {{ paper.paper_author }}</li>
                        <a class="btn btn-primary mt-3" href="{{ url_for('documentation.download', file_id = paper.paper_id) }}">Download Paper</a>
                    </div> 
                {% endfor %}
            </div>
        </div>
        
        <div class="w-25 pl-5" id="right">
            <div class="border rounded px-3 py-2 w-100 d-flex flex-column">
                <legend class="border-bottom mb-3"><h4 class="text-dark">Sort By</h4></legend>
                <ul class="nav flex-column nav-pills border rounded mb-3" id="side_nav">
                    <li class="nav-item border-bottom m-0">
                        <a class="text-secondary nav-link rounded-0" href="#">Title</a>
                    </li>
                    <li class="nav-item border-bottom m-0">
                        <a class="text-secondary nav-link rounded-0" href="#">Date</a>
                    </li>
                </ul>
                <button class="btn btn-secondary my-2 mx-auto w-100" id="addNew" href="#">Add New Paper</button>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content mt-5">
                <div class="modal-body">
                    <form class="px-2 col-12" id="postForm" method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <legend class="border-bottom mb-2 mt-2 d-flex">
                            <h4 class="text-dark">New Post
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </h4>
                        </legend>
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.title.label(class="form-control-label") }}

                                {% if form.title.errors %}
                                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.paper_author.label(class="form-control-label") }}

                                {% if form.paper_author.errors %}
                                    {{ form.paper_author(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.paper_author.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.paper_author(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.paper_file.label() }}
                                {{ form.paper_file(class="form-control-file") }}
                                {% if form.paper_file.errors %}
                                    {% for error in form.paper_file.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </fieldset>

                        <div class="form-label-group d-flex mt-2">
                            {{ form.submit(class="btn btn-primary col-2 ml-auto mb-2 text-light") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


