{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <section class="d-flex w-100 mb-5 pb-2 border-bottom"> 
        <div class="d-flex flex-column" id="pro-left">
            <p class="pl-2 pr-5 py-2 mb-0 selected">Personal Information</p>
            <a class="pl-2 pr-5 py-2 border border-top-0 text-primary not-selected" href="#">Review My Uploads</a>
            <a class="pl-2 pr-5 py-2 border border-top-0 text-primary not-selected" href="#">Review My Saved Papers</a>
            <a class="pl-2 pr-5 py-2 border border-top-0 text-primary not-selected" href="#">Help</a>
            <a class="pl-2 pr-5 py-2 border border-top-0 text-primary not-selected" href="#">Setting</a>
        </div>

        <div class="d-flex flex-column ml-auto w-75" id="pro-right">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group mb-4">
                    <legend class="border-bottom mb-4 pb-1">My Profile</legend>
                    <div class="d-flex">
                        <div class="w-50">
                            <div class="form-group w-100">
                                {{ form.first_name.label(class="form-control-label") }}
                
                                {% if form.first_name.errors %}
                                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.first_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.last_name.label(class="form-control-label") }}

                                {% if form.last_name.errors %}
                                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.last_name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                
                            <div class="form-group w-100">
                                {{ form.email.label(class="form-control-label") }}
                
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.location.label(class="form-control-label") }}

                                {% if form.location.errors %}
                                    {{ form.location(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.location.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.location(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.organisation.label(class="form-control-label") }}

                                {% if form.organisation.errors %}
                                    {{ form.organisation(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.organisation.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.organisation(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.afflication.label(class="form-control-label") }}

                                {% if form.afflication.errors %}
                                    {{ form.afflication(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.afflication.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.afflication(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="media d-flex w-50">
                            <div class="w-50 d-flex flex-column mx-auto">
                                <p class="mb-1 pro-pic">Profile Picture</p>
                                <img class="rounded w-100" src="{{ icon }}">
                                <button class="mt-3 btn btn-primary" id="up-pic">Upload Picture</button>

                                <div class="form-group w-100">
                                    {{ form.picture(class="form-control-file d-none") }}
                                    {% if form.picture.errors %}
                                        {% for error in form.picture.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                            <br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-success border") }}
                </div>
            </form>
        </div>
    </section>

    <div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mt-5" role="document">
            <div class="modal-content  d-flex flex-column">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body my-4 mx-auto p-0" id="imgPreview"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveimg">Save change</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}